/* Container de cada Nota */
.note-container {
  background-color: #172536; /* Fundo claro */
  padding: 10px; /* Espaçamento interno maior */
  margin: 10px 0; /* Espaçamento entre notas */
  width: 300px;
  border: 1px solid #e0e0e0; /* Bordas suaves */
  border-radius: 12px; /* Bordas arredondadas */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  position: relative; /* Necessário para o posicionamento absoluto da data */
}

/* Título da Nota */
.note-container .note-title {
  font-size: 0.7rem; /* Maior destaque para o título */
  font-weight: bold; /* Negrito */
  color: #ffffff; /* Texto escuro para contraste */
  margin-bottom: 10px; /* Espaço entre título e conteúdo */
  text-transform: capitalize; /* Primeira letra de cada palavra em maiúscula */
  border-bottom: 1px solid #ddd; /* Linha abaixo do título */
  padding-bottom: 5px; /* Espaço interno abaixo do título */
  font-family: 'Poppins', sans-serif;
}

/* Corpo do Conteúdo */
.note-container .note-content {
  color: #ffffff; /* Cinza escuro para texto */
  font-size: 0.8rem;
  line-height: 1.6; /* Espaçamento entre linhas */
  margin: 15px 0; /* Espaçamento entre conteúdo e data */
  text-align: justify; /* Texto justificado para melhor leitura */
  font-family: 'Poppins', sans-serif;
}

/* Data da Nota */
.note-container .note-date {
  font-size: 0.8rem;
  color: #ffffff; /* Cinza claro */
  text-align: right; /* Alinhado à direita */
  position: absolute; /* Posicionamento absoluto */
  top: 10px; /* Distância do topo */
  right: 20px; /* Distância da borda direita */
  border-top: none; /* Remover a linha acima da data */
  margin-top: 0; /* Remover o espaço adicional */
  padding-top: 0; /* Remover o padding superior */
  font-family: 'Poppins', sans-serif;
}

/* Botão de Exclusão */
.note-container .delete-button-note {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Centraliza o botão */
  margin-top: 10px; /* Espaço entre o botão e a data */
  background: none;
  border: none;
  color: #ff4c4c; /* Vermelho suave */
  font-size: 1.2rem;
  padding: 6px 10px;
  border-radius: 8px; /* Bordas arredondadas */
  transition: all 0.3s ease;
}

.note-container .delete-button-note:hover {
  background: #ff4c4c;
  color: white;
  box-shadow: 0 3px 10px rgba(255, 76, 76, 0.3);
  cursor: pointer;
}

.note-container .delete-button-note:active {
  transform: scale(0.95);
}

/* Efeito de Hover */
.note-container:hover {
  transform: scale(1.02); /* Pequeno zoom */
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15); /* Sombra mais intensa */
}
